@import "_normalize.scss";

body {
    background-color: ghostwhite;
}

.wrapper {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.placeholder {
    flex: 1;
}

.reg {
    font-size: 18px;
    text-decoration: none;
}

.button {
    display: inline-block;
    background-color: #4c8baf;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 10px 20px;
    cursor: pointer;
    transition-duration: 0.4s;
    width: 90%;
    min-width: 150px;
    max-width: 200px;
}

.button:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24), 0 15px 50px 0 rgba(0,0,0,0.19);
}

form {
    width: 90%;
    min-width: 250px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    .submit{
        min-width: 100px;
        max-width: 200px;
    }
}

input {
    font-size: 18px;
    padding: 10px;
    width: 95%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.error-text {
    font-size: 18px;
    color: brown;
    margin-bottom: 5px;
}

.success-text {
    font-size: 18px;
    color: limegreen;
    margin-bottom: 5px;
}